html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background-color: black;
  color: white;
}

a {
  color: papayawhip;
}

a:hover {
  color: black;
  background-color: white;
}

p span {
  font-size: 200%;
  color: papayawhip;
}

img {
  padding: 16px;
  margin: 1em;
  border: 1px solid #fff;
}

div {
  height: 3000px;
}
